body{
	background-color: green;
	padding-top: 13px ;
	font-size:13px;
	font-family: sans-serif;
}
button{
	margin: 5px;
	padding: 10px;
	text-decoration: none;
	border: 1px solid red;
	border-radius: 7px;
	font-size: 14px;
	text-decoration-line: none;

}
.hello {
	background: blue;
	display: block;
	border: 1px solid #000;
	border-radius:9px;
	font-size:15px;
	margin:8px ;
}